[Unit]
Description=KootNet Ethernet Testers - Network Shutdown Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/kootnet-network-testers
RestartSec=5s
User=root
Group=root
ExecStart=/usr/bin/python3 /opt/kootnet-network-testers/net_shutdown_server.py

[Install]
WantedBy=multi-user.target
