[Unit]
Description=KootNet Network Testers
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/kootnet-network-testers
RestartSec=5s
User=root
Group=root
ExecStart=/opt/kootnet-network-testers/python-env/bin/python /opt/kootnet-network-testers/start_tester.py

[Install]
WantedBy=multi-user.target
