[Unit]
Description=KootNet Network Testers - HTTP Upgrade

[Service]
Type=simple
Restart=no
User=root
Group=root
ExecStart=/bin/bash /opt/kootnet-network-testers/scripts/kootnet_testers_installer_http.sh

[Install]
WantedBy=multi-user.target
